header {
    background-color: #FDB813;
}

.simple-header {
    padding-top: 20px;
}

.form-background {
    background-color: #FFFFFF;
}

.header-background {
    background-color: rgb(30, 53, 87);
}

.pointer {
    cursor: pointer;
}

.container-box {
    border: #d3e0e9 solid 1px;
    padding: 10px;
    background: #FFFFFF;
}

.color-back {
    color: #000000;
}

.color-white {
    color: #FFFFFF;
}

.label-details {
    padding: 0;
    margin: 0;
}